---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class='container'> 

<div class='main'> 
 <h1>{{metadata.description}}</h1>
  
{% set maxPosts = collections.posts.length | min(5) %}
<h2>{% if maxPosts == 1 %}Última Publicación{% else %}{{ maxPosts }} Últimas Publicaciones{% endif %}</h2>

{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Más publicaciones podéis encontrar en  <a href="{{ '/posts/' | url }}">el archivo</a>.</p>
</div>
<div class='sidebar'> 
<h2>Tags</h2>

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}

</div>
</div>